.c-body{
  height: 560px;
  background-color:#fef7e5;
}
.contact-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #bcbcbc;
  margin: 50px auto;
  max-width: 600px;
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
}

.contact-container form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.contact-container label {
  font-size: 18px;
  font-weight: bold;
  color:  #2f234f;
}

.contact-container input,
.contact-container textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.contact-container input:focus,
.contact-container textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contact-container button[type="submit"] {
  background-color:  #2f234f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contact-container button[type="submit"]:hover {
  background-color:  #2f234f;
}

.contact-container .error {
  color: red;
  margin-top: 10px;
  text-align: center;
}
