.latest-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .text-center {
    text-align: center;
  }
  .latest-products-container > div {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .latest-products-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .latest-products-container h2 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .latest-products-container h3 {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .latest-products-container h4 {
    margin: 10px 0;
    font-size: 0.8rem;
    font-style: italic;
  }
  
  .latest-products-container p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  @media (max-width: 768px) {
    .latest-products-container > div {
      width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .latest-products-container > div {
      width: 100%;
    }
  }
  
  