.l-news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}
.n-text-center{
  text-align: center;
  color:#2f234f;
}

.news-item {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l-news-image-container {
  height: 200px;
  overflow: hidden;
}

.l-news-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item-content h2 {
  margin-top: 0;
}

.news-item-content .content {
  margin-bottom: 10px;
}

.news-item-content a {
  color: #007bff;
  text-decoration: none;
  align-self: flex-end;
}

.news-item-content hr {
  margin: 10px 0;
  align-self: flex-end;
}

.news-item-content time {
  align-self: flex-end;
}