.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}

.news-item {
  border: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-image-container {
  height: 200px;
  overflow: hidden;
}

.news-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item-content h2 {
  margin-top: 0;
}

.news-item-content .content {
  margin-bottom: 10px;
}

.news-item-content a {
  color: #2f234f;
  text-decoration: none;
  align-self: flex-end;
  margin-top: auto; /* Add this property to push the link to the bottom */
}

.news-item-content hr {
  margin: 10px 0;
  align-self: flex-end;
  width: 100%; /* Set the width to fill the container */
}

.news-item-content time {
  align-self: flex-end;
  margin-top: auto; /* Add this property to push the time element to the bottom */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 5px;
}

.pagination li button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
}

.pagination li button:focus {
  outline: none;
}

.pagination li button:hover {
  text-decoration: underline;
}

.pagination li.active button {
  font-weight: bold;
}
