.newsList {
  margin: 50px auto;
  max-width: 800px;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.create {
  background: none;
  border: none;
  color: #2f234f;
  margin-bottom: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.create:hover {
  color: #6940a7;
  transition: 0.9s;
}

.scrollable-content {
  max-height: 300px;
  overflow-y: auto;
}

.newsList table {
  width: 100%;
  border-collapse: collapse;
}

.newsList th,
.newsList td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

.newsList th {
  font-weight: bold;
}

.newsList tbody tr:hover {
  background-color: #f5f5f5;
}

.newsList tbody td:first-child {
  font-weight: bold;
}

.newsList tbody td:last-child {
  text-align: center;
}

.newsList .edit-button {
  background-color: #2f234f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.newsList .edit-button a {
  color: #fff;
  text-decoration: none;
}

.newsList .delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.newsList .edit-button:hover {
  background-color: #6940a7;
}
.newsList .delete-button:hover {
  background-color: #ff8c82;
  transition: 0.6s;
}

.newsList td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .newsList {
    margin: 5px;
    padding: 5px;
  }

  .headers {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .scrollable-content {
    max-height: 120px;
  }

  .newsList table {
    width: 100%;
  }

  .newsList th,
  .newsList td {
    padding: 3px;
    font-size: 10px;
  }

  .newsList .edit-button {
    font-size: 8px;
    padding: 2px 4px;
    margin-bottom: 3px;
  }

  .newsList .delete-button {
    font-size: 8px;
    padding: 2px 4px;
  }

  .newsList td img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .newsList th,
  .newsList td {
    padding: 2px;
    font-size: 8px;
  }
  .headers{
    font-size: 17px;
  }

  .newsList .edit-button {
    font-size: 6px;
    padding: 3px 3px;
  }

  .newsList .delete-button {
    font-size: 6px;
    padding: 3px 3px;
  }

  .newsList td img {
    width: 30px;
    height: 30px;
  }
}
