
.n-text-center h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
  background-color: #fef7e5;
}.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 20px 20px 20px 20px;
    align-items: center;
    background-color: #fef7e5;
  }
  
  .news-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .news-item:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
  }
  
  .news-item .image-container {
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .news-item .image-container img {
    width: 300px;
    height: 250px;
    object-fit: cover;
  }
  
  
  
  
  .news-item .news-item-content {
    padding: 20px;
    height: 320px;
    overflow: auto;
  }
  
  .news-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .news-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
  }
  
  
  .news-item .author {
    font-weight: bold;
  }
  
  .news-item .date {
    font-style: italic;
    margin-top: 10px;
  }
  