.product-form {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.product-form label {
  display: block;
  margin-bottom: 5px;
}

.product-form input,
.product-form select {
  display: block;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}

.product-form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  min-height: 100px;
  max-height: 100px;
  width: 90%;
}
.product-form input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.product-form button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0077cc;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.product-form button:hover {
  background-color: #005fa3;
}


.book-image{
  width: 50px;
  height: 50px;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.book-item {
  list-style: none;
}

.book-buttons {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  /* width: 100%; */
}

.sidebar {
  width: 30%;
  /* padding-right: 20px; */
}

.content {
  flex: 1;
}

.categories-authors-container {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.categories,
.authors {
  width: 100%;
}


/* ProductDetails */
.containerr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container {
  display: flex;
  align-items: flex-start;
}

.image-container {
  flex-basis: 30%;
  padding-right: 20px;
}

.image-container img {
  height: 200px;
  width: auto;
}

.content-container {
  flex-basis: 70%;
}

.content-container h1,
.content-container h3,
.content-container p {
  margin: 0;
}

.content-container h1 {
  font-size: 24px;
}

.content-container h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.content-container p {
  margin-bottom: 10px;
}

.content-container button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

