.my-registration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 50%;
  text-align: center;
}

.registration h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #2f234f;
}

.registration label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #2f234f;
}

.registration input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightslategray;
  margin-bottom: 15px;
  font-size: 1rem;
}

.registration button {
  width: 50%;
  background-color: #2f234f;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.registration button:hover {
  background-color: #483d8b;
}

.registration .error {
  color: red;
  font-size: 0.8rem;
}
.login-message {
  color: red;
  font-size: 0.8rem;
}
