.users {
    margin: 50px auto;
    max-width: 800px;
  }
  .headers {
    display: flex;
    flex-direction: column;
  }
  .create {
    background: none;
    border: none;
    color: #2f234f;
    margin-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.6s ease;
  }
  
  .create:hover {

    color: #6940a7;
    transition: 0.9s;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td:last-child {
    text-align: center;
  }
  
  .edit {
    margin-right: 5px;
    color: #fff;
    background-color: #2f234f;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    
  }
  .edit:hover {
    background-color: #6940a7;
    transition: 0.6s;
  }
  
  .delete {
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete:hover {
    background-color: #ff8c82;
    transition: 0.6s;
  }
  